.atitle {
    background: rgb(225, 225, 225);
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 5px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.atitle:hover {
    background: rgb(179, 179, 179);
}

.atitle:active {
    background: rgb(245, 245, 245);
}

.atitle.active {
    background: rgb(245, 245, 245);
}

.atitle.active:hover {
    background: rgb(220, 220, 220);
}

.date {
    font-size: 12px;
    margin: 3px;
    margin-top: 15px;
}

.content {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 5px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
