.sr {
    width: 50%;
    padding-bottom: 20px;
    margin: auto;
    display: flex;
}

.settings {
    flex: 1;
    text-align: left;
}

.results {
    flex: 1;
    text-align: right;
}

.time-input {
    width: 70px;
    font-size: 20px;
    text-align: center;
}