.dropdown-title {
    background: rgb(225, 225, 225);
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 5px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 10px;
}

.dropdown-title.menu {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    background: rgb(116, 101, 212);
    margin-bottom: 0;
    color: white;
}

.dropdown-title.menu:hover {
    background: rgb(109, 93, 214);
}

.dropdown-title.menu.active {
    background: rgb(127, 113, 223);
}

.dropdown-title.menu.active:hover {
    background: rgb(134, 120, 227);
}

.dropdown-title:hover {
    background: rgb(179, 179, 179);
}

.dropdown-title:active {
    background: rgb(245, 245, 245);
}

.dropdown-title.active {
    background: rgb(245, 245, 245);
}

.dropdown-title.active:hover {
    background: rgb(220, 220, 220);
}

.dropdown-content {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.dropdown-content.menu {
    width: 100%;
    max-width: 100%;
}
