.click-box {
    background: rgba(116, 101, 212);
    width: 50%;
    height: 40vh;
    min-height: 400px;
    margin: auto;
    display: table;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    color: white;
    border-radius: 5px;
}

.click-box:hover {
    background: rgb(127, 113, 223);
}

.click-box:active {
    background: rgb(154, 139, 249);
}

.click-box p {
    display: table-cell;
    vertical-align: middle;
}

.time-input {
    width: 70px;
    font-size: 20px;
    text-align: center;
}